#airplane {
  background: url(../images/airplane.png);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 414px;
  height: 127px;
}

#man-jump {
  opacity: 0;
  background: url(../images/man-jump.png);
  position: absolute;
  top: 65px;
  right: 130px;
  width: 120px;
  height: 79px;
  transform: scale(0.3, 0.3);
}
